* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul,
li,
a,
p {
  text-emphasis: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.jumbotron {
  height: 500px;
  position: relative;
}
.jumbotron .clip_art_section .clip_art_img {
  width: 100%;
  height: 500px;
  margin-top: -40px;
}
.jumbotron .clip_art_img_gift {
  position: absolute;
  top: 8rem;
  transform: rotate(22.47deg);
  width: 70px;
  right: 11rem;
}
.jumbotron .clip_art_img_gift_second {
  position: absolute;
  bottom: 8rem;
  left: 12rem;
  width: 70px;
}
.jumbotron_botton {
  background-color: #7092be;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 0;
  padding: 10px 25px;
  border-radius: 10px;
  margin-top: 15px;
}
.first_img_side {
  width: 480px;
  height: 400px;
  background: #f1f1f1;
  box-shadow: 0px 4px 10px rgba(114, 111, 111, 0.28);
  margin-top: -90px;
}
.delivery_service {
  background-color: #f5f7fe;
}
.your_service_icon {
  margin-top: 70px;
  padding-top: 50px;
}
.why_choose_us .about_out_section {
  position: relative;
  height: 500px;
}
.api_section .intergration {
  height: 400px;
  width: 100%;
  margin-top: -55px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(142, 131, 131, 0.54);
}

.api_section {
  background-color: #f5f7fe;
}
.about_out_section {
  padding: 100px 50px;
  position: relative;
  width: 100%;
}
.api_section_int p {
  font-size: 12px;
  color: #999999;
}
.api_section_int button {
  margin-top: 50px;
}
.app-download-list {
  list-style-type: none;
  display: flex;
  justify-content: left;
}
.app-download-list a img {
  width: 30px;
}
.app-download-list a {
  box-shadow: 0px 0px 10px rgba(114, 111, 111, 0.43);
  border-radius: 15px;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  padding: 15px 40px;
}

.footer .main-footer {
  background-color: #1b212c;
  padding: 80px;
}

.footer-group {
  padding: 50px 100px;
  width: 100%;
  color: #ffffff;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.footer-group-list .footer_link_list .footer_link_list_items {
  list-style-type: none;
}

.footer-content .footer-group .footer-group-list {
  list-style-type: none;
}
footer .footer-group-list .footer_logo {
  font-size: 30px;
  font-weight: 700;
}

.footer_link_list .footer_link_list_items a {
  color: #ffffff;
}
.footer_list_link img {
  width: 25px;
  margin-right: 10px;
  margin-top: 10px;
}
footer .footer_header {
  font-size: 18px;
  font-weight: bold;
}
